   <div class="container pt-4">
  <h2>Lista de Películas</h2>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="filtroAnio">Filtrar por año:</label>
        <select class="form-control" name="filtroAnio" [(ngModel)]="filtroAnio">
          <option value="">Todos</option>
          <option value="1972">1972</option>
            <option value="1994">1994</option>
            <option value="1999">1999</option>
            <option value="2008">2008</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2014">2014</option>
            <option value="2016">2016</option>
            <option value="2020">2020</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>
        <button class="btn btn-dark mt-2" (click)="aplicarFiltro()">Aplicar</button>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="filtroGenero">Filtrar por genero:</label>
        <select class="form-control" name="filtroGenero" [(ngModel)]="filtroGenero">
          <option value="">Todos</option>
          <option value="Drama">Drama</option>
          <option value="Infantil">Infantil</option>
          <option value="Accion">Accion</option>
          <option value="Ciencia ficcion">Ciencia Ficción</option>
          <option value="Comedia">Comedia</option>
        </select>
        <button class="btn btn-dark mt-2" (click)="aplicarFiltro()">Aplicar</button>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="filtroTipo">Filtrar por tipo:</label>
        <select class="form-control" name="filtroTipo" [(ngModel)]="filtroTipo">
          <option value="">Todos</option>
          <option value="Pelicula">Película</option>
          <option value="Serie">Serie</option>
          <option value="Documental">Documental</option>
        </select>
        <button class="btn btn-dark mt-2" (click)="aplicarFiltro()">Aplicar</button>
      </div>
    </div>
  </div>

   <div class="row justify-content-center pt-4">
    <div *ngIf="peliculasFiltradas.length === 0" class="col-12 text-center">
      <div class="alert alert-custom animated fadeIn" role="alert">
        <p class="mb-0">No se encontraron coincidencias.</p>
      </div>
    </div>
    <div class="card col-3 card-content" *ngFor="let pelicula of peliculasFiltradas">
      <img class="img-fluid" src="{{ pelicula.imagen }}" alt="Imagen de la película">
      <div class="card-body">
        <h5 class="card-title">{{ pelicula.title }}</h5>
        <p class="card-text">Fecha de lanzamiento: {{ pelicula.date }}</p>
        <p class="card-text">Tipo: {{ pelicula.tipo }}</p>
        <p class="card-text">Género: {{ pelicula.genero }}</p>
      </div>
    </div>
  </div>
</div>
