<nav class="navbar sticky">
  <div class="container-fluid">
    <a class="navbar-brand text" href="#">
      <img src="https://play-lh.googleusercontent.com/9b588hRujX9qJOhb65CMUUWZRjsFg6SNz33U99W1PI9eFmrf7pGWbHAfer6ZSm2oSDo" alt="Logo" width="30" height="30" class="d-inline-block align-text-mid">
      PelisPedia
    </a>
  </div>
</nav>
<section>
  <app-lista-peliculas></app-lista-peliculas>
</section>

<footer class="footer">
  <div class="container">
    <p class="text-center">©2023 Fabricio Castro.</p>
  </div>
</footer>
